
<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
				<form class="form-inline" role="form">
					</form>					
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
 
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
                        <br>
                        <img class="img-circle" src="/images/stadium.jpg" alt="" width = "500" >

				<h1>Welcome to Live Score<br/>+1</h1>
				
			</div>
		</div><!-- /row -->

     <body background = "/images/bg_floodlights.jpg">

		
		<div class="row mt centered">
			<div class="col-lg-4">
				<a href="/leaderboard"><img class="img-circle" src="/images/FireBall.jfif" width="180" height="250" alt="" >
				<h4>1 - League tables</h4>
				<p>Check who's on top.</p>
                </a>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<a href="/liveScore"><img class="img-circle" src="/images/liveScore.jpg" width="180" height="250" alt="" >
				<h4>2 - Live Score</h4>
				<p>Go live now.</p>
                </a>
			</div>

              <div class="col-lg-4">
				<a href="/upcomingMatches"><img class="img-circle" src="/images/vsImage2.jpg"  width="180" height="250" alt="" >
				<h4>3 - Upcoming Matches </h4>
				<p>Check when next matches are scheduled.</p>
                </a>
			</div>

		</div><!-- /row -->
	</div><!-- /container -->
	
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Live Score.</h1>
				<h3>Do some work ffs dave</h3>
			</div>
		</div><!-- /row -->
	
			
	
		<p class="centered">Created by Pied Piper</p>
	</div><!-- /container -->