
<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
				<form class="form-inline" role="form">
					</form>					
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
 
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
                        <br>
                        
				<h1>Welcome to Pipe Piper<br/>+1</h1>
                                <br>
				
			</div>
		</div><!-- /row -->

     <body background = "/images/bg_floodlights.jpg">
		
		<div>
			<div class="col-lg-4">
 <img src="/images/PremierLogo.png" class = "circle">
 <img src="/images/PremierLogo.png" class = "circle">
 <img src="/images/PremierLogo.png" class = "circle">
 <img src="/images/PremierLogo.png" class = "circle">
                </a>
			</div><!--/col-lg-4 -->
			<div class="col-lg-4">
                </a>
			</div>

              <div class="col-lg-4">
                </a>
			</div>

		</div><!-- /row -->
	</div><!-- /container -->


			
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

 <link rel='stylesheet' href='/stylesheets/chatStyle.css' >
<meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <br> 
    <h1> Live Chat</h1>   
    

    <section>
      <div id="change_username">
	<input id="username" type="text" />
	<button id="send_username" type="button">Change username</button>
      </div>
    </section>

  


<div id="x" style="background-color: #99ff99">
	
    <div id="chatroom">
      <section id="feedback"></section>
	 
    </div>
 

    <section id="input_zone"> 
      <input id="message"  type="text" />
      <button id="send_message"  type="button">Send</button>
 
    </section>

<script>var objDiv = document.getElementById("chatroom");
objDiv.scrollTop = objDiv.scrollHeight;</script>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="javascripts/chat.js"></script>
	</div>


		<p class="centered">Created by Pied Piper</p>
	</div><!-- /container -->