<div class = "container"> <script type='text/javascript' src='/javascripts/particle.js'></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    particleground(document.getElementById('particleground'), {
      dotColor: '#ffffff',
      lineColor: '#ffffff',
      particleRadius: 0
    });
    var intro = document.getElementById('intro');
    intro.style.marginTop = -intro.offsetHeight / 2 + 'px';
  }, false);
    </script></div>


